<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="csrf-token" content="{{ csrf_token('authenticate') }}">
        <title>{% block title %}Mark & Motion | Creativity in Motion, Marks that Last{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" data-turbo-track="reload">
    {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('controllers/search_controller.js') }}" defer></script>
        {% endblock %}
    </head>
    <body{% block body_class %}{% endblock %}>
        {% block body %}{% endblock %}
    </body>
</html>
